__pycache__/
*.py[cod]
!*.pyd
tiler-server
tiler-server.exe

raster_tiles.build
vector_tiles.build
test*
scripts/PIDs
temp

server/rust/robyn-worker/target
server/rust/proxy-balancer/target
server/rust/t-rex-core/target
server/rust/mvt/target

raster_tiles/server/.mypy_cache
vector_tiles/server/.mypy_cache
logs/*
data/*
tiles/*
!data/mosaics

.env
raster_tiles.cpython-311-x86_64-linux-gnu.so
raster_tiles.pyi
server.cpython-311-x86_64-linux-gnu.so
server.pyi
vector_tiles.cpython-311-x86_64-linux-gnu.so
vector_tiles.pyi
